In [1]:
repeats <- 5000; n <- 8; p <- 0.24;
x <- rbinom(repeats, n, p)
cat("Mean", mean(x), "\nVar", var(x))
cat("\nnp =", n * p, "\nnp(1-p) =", n * p * (1 - p))
table(x)

Mean 1.903
Var 1.44748
np = 1.92
np(1-p) = 1.4592

x
   0    1    2    3    4    5    6    7
 559 1443 1537  973  382   86   19    1

In [1]:
y <- (1:100)^2
y

  [1]     1     4     9    16    25    36    49    64    81   100   121   144
 [13]   169   196   225   256   289   324   361   400   441   484   529   576
 [25]   625   676   729   784   841   900   961  1024  1089  1156  1225  1296
 [37]  1369  1444  1521  1600  1681  1764  1849  1936  2025  2116  2209  2304
 [49]  2401  2500  2601  2704  2809  2916  3025  3136  3249  3364  3481  3600
 [61]  3721  3844  3969  4096  4225  4356  4489  4624  4761  4900  5041  5184
 [73]  5329  5476  5625  5776  5929  6084  6241  6400  6561  6724  6889  7056
 [85]  7225  7396  7569  7744  7921  8100  8281  8464  8649  8836  9025  9216
 [97]  9409  9604  9801 10000

In [2]:
y[14]

[1] 196

In [4]:
data(men1500m, package='HSAUR2')

In [5]:
men1500m

   year venue       winner         country       time
1  1896 Athens      E. Flack       Australia     273.20
2  1900 Paris       C. Bennett     Great Britain 246.20
3  1904 St. Louis   J. Lightbody   USA           245.40
4  1908 London      M. Sheppard    USA           243.40
5  1912 Stockholm   A. Jackson     Great Britain 236.80
6  1920 Antwerp     A. Hill        Great Britain 241.80
7  1924 Paris       P. Nurmi       Finland       233.60
8  1928 Amsterdam   H. Larva       Finland       233.20
9  1932 Los Angeles L. Beccali     Italy         231.20
10 1936 Berlin      J. Lovelock    New Zealand   227.80
11 1948 London      H. Eriksson    Sweden        229.80
12 1952 Helsinki    J. Barthel     Luxemborg     225.10
13 1956 Melbourne   R. Delaney     Ireland       221.20
14 1960 Rome        H. Elliott     Australia     215.60
15 1964 Tokyo       P. Snell       New Zealand   218.10
16 1968 Mexico City K. Keino       Kenya         214.90
17 1972 Munich      P. Vasala      Finland       216.30
18 1976 Montreal    J. Walker      New Zealand   219.17
19 1980 Moscow      S. Coe         Great Britain 218.40
20 1984 Los Angeles S. Coe         Great Britain 212.53
21 1988 Seoul       P. Rono        Kenya         215.95
22 1992 Barcelona   F. Cacho       Spain         220.12
23 1996 Atlanta     N. Morceli     Algeria       215.78
24 2000 Sydney      K. Ngenyi      Kenya         212.07
25 2004 Athens      H. El Guerrouj Morocco       214.18

In [6]:
x <- scan('simpleData.txt', skip = 2)
x

 [1]  1  2  3  4  5  6  7  8  9 10 11 12

In [7]:
summary(x)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   1.00    3.75    6.50    6.50    9.25   12.00

In [8]:
y <- matrix(scan('simpleData.txt', skip = 2), byrow = T, ncol = 4)
y

     [,1] [,2] [,3] [,4]
[1,] 1     2    3    4
[2,] 5     6    7    8
[3,] 9    10   11   12

In [ ]:
# write code to compute the nonnegative matrix factorization of a matrix A

In [1]:
A <- matrix(c(1, 2, 3, 4, 5, 6), nrow = 2, ncol = 3)
A

     [,1] [,2] [,3]
[1,] 1    3    5
[2,] 2    4    6

In [ ]:
# write a function to compute the probability of at least 2 students having the same birthday in a class of k students
# copilot sucks